{% if not vagrant %}

The playbook deployed successfully to the following hosts:
{% for host in vars['play_hosts'] %}
- {{ host }}

{% endfor %}
Admin User Account
username:      {{ admin_user }}
password:      {{ (lookup('file', 'vars/user_pw') | split)[0] }}

{%- endif %}
Database
db name:       {{ db_name }}
db username:   {{ db_user }}
db password:   {{ db_pw }}
connect:       mysql -u{{ db_user }} -p{{ db_pw }} {{ db_name }}
{% if do_database.stat.exists %}

The dumpfile `{{ sql_dumpfile }}` was successfully loaded into the new database `{{ db_name }}`.

{% endif %}
{% if (ftp_users is defined and ftp_users) or (ftp_admin_users is defined and ftp_admin_users) %}

The Following FTP accounts were setup:

{% endif %}
{% if ftp_admin_users is defined and ftp_admin_users is iterable -%}
{%- for ftp_user in ftp_admin_users -%}
FTP Admin:     {{ ftp_user.username }}
password:      {{ ftp_user.password }}

{% endfor -%}
{% endif %}
{% if ftp_users is defined and ftp_users is iterable -%}
{%- for ftp_user in ftp_users -%}
FTP User:      {{ ftp_user.username }}
password:      {{ ftp_user.password }}

{% endfor %}
{% endif %}

Report saved to: _ansible-config-report_{{ ansible_hostname }}
Generated on {{ template_run_date}}
