<VirtualHost *:80>
    <IfModule mod_fastcgi.c>
        FastCgiServer /usr/local/bin/php-fastcgi-wrapper -processes 10 -restart-delay 1 -init-start-delay 1 -pass-header HTTP_AUTHORIZATION
        Alias /binary /usr/local/bin
        <Location /binary/php-fastcgi-wrapper>
            Options ExecCGI
            SetHandler fastcgi-script
        </Location>
        AddHandler php-fastcgi .php
        Action php-fastcgi /binary/php-fastcgi-wrapper
    </IfModule>

    # PHP_Fix_Pathinfo_Enable 1
    DocumentRoot {{ vhost_document_root }}
    ServerName {{ ansible_hostname }}.local

    <directory />
        Options All
        AllowOverride all
        Order allow,deny
        Allow from all
    </directory>

    ErrorLog /var/log/apache2/error.log
    TransferLog /var/log/apache2/access.log
</VirtualHost>
